# Server Configuration
PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/captcha-hell?retryWrites=true&w=majority
NODE_ENV=production

# Frontend Configuration (Optional: defaults to /api when relative)
VITE_API_URL=/api

